@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
div {
  display: block;
}

#wrap {
  position: relative;
  overflow: hidden;
  display: block;
}

#header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  display: block;
  margin: 0;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.header_inner {
  position: relative;
  max-width: 90%;
  height: 70px;
  margin: 0 auto;
}
.header_inner .logo {
  position: absolute;
  padding: 0;
  box-sizing: border-box;
  margin-top: 13px;
  display: block;
  float: left;
  z-index: 3;
}
.header_inner > .logo > a {
  display: block;
  width: 100%;
}
.header_inner > .logo > a img {
  height: 44px;
  display: block;
  /* margin: 13px 0; */
  position: relative;
  margin: 0 auto;
}
.gnb {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}
.menu {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  /* position: absolute;
  display: block;
  text-align: center;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
.menu>.category {
  position: relative;
  /* display: block; */
  margin: 0 auto;
  line-height: 70px;
  text-align: center;
}
.menu> .category>li {
  /* float: left;
  position: relative; */
  position: relative;
  display: inline-block;
  /* padding: 0 30px; */
  width: 140px;
  font-size: 18px;
}


.category_inner.active {
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
  display: block;
  position: absolute;
  background-color: #fff;
  width: 144px;
  height: auto;
  top: 70px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.category_inner.active li {
  position: relative;
}
.category_inner.active li a {
  position: relative;
  margin: 8px 0;
  font-size: 16px;
}


.slide_menu {
  /* display: none; */
  display: block;
  float: right;
}
input[id=trigger] {
  display: none;
}
label[for=trigger] {
  width: 30px;
  height: 25px;
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  transition: 0.5s;
  /* margin: 22px 40px 0 0; */
  margin-top: 22px;
  z-index: 999;
}
label[for=trigger] span {
  position: absolute;
  height: 2px;
  background: #000;
  width: 100%;
  right: 0;
  transition: 0.3s;
}
label[for=trigger] span:nth-child(1){
  top: 0;
}
label[for=trigger] span:nth-child(2){
  top: 50%;
}
label[for=trigger] span:nth-child(3){
  top: 100%;
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(1){
  top: 50%;
  transform: translate(50%, 50%);
  transform: rotate(45deg);
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(2){
  opacity: 0;
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(3){
  top: 50%;
  transform: translate(50%, 50%);
  transform: rotate(-45deg);
}

.sidebar {
  width: 20%;
  height: 100vh;
  position: fixed;
  right: -21%;
  margin: 0;
  top: 0;
  transition: 0.5s;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 33;
}
/* input[id=trigger]:checked ~ .sidebar {
  top: 80px;
  display: block;
  position: absolute;
  background-color: #fff;
} */
input[id=trigger]:checked ~ .sidebar {
  right: 0;
}

input[id=trigger]:checked + label[for=trigger]{
    /* right: 305px; */
}

.sidebar ul {
  display: block;
  /* margin: 90px 20px 0 20px; */
  margin-top: 90px;
}
.sidebar ul li a {
  display: block;
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
}
.cate_title {
  margin: 20px 0 10px 20px;
  font-size: 20px;
  font-weight: 500;
}
.sidebar ul li a:hover {
  color: #769BC0;
}
.cate_title a .fa {
  margin-left: 20px;
}
.cate_desc {
  background: #eee;
  padding: 10px 0 10px 0;
}
.cate_desc a{
  font-size: 14px;
  margin-left: 20px;
}


/* sub_cate */
.sub_cate {
  /* display: none; */
}

.sub_cate {
  display: block;
  position: absolute;
  width: 100%;
  height: 170px;
  border-top: 1px solid #ccc;
  background: #fff;
  padding: 0 5%;
}
.sub_cate>li {
  position: relative;
  z-index: 33;
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.sub_cate>li>ul {
  padding: 30px 0;
  display: block;
  width: 140px;
  height: 170px;
  float: left;
}
/* .sub_cate ul li::after {
  content: '';
  border-right: 1px solid #ccc;
  position: absolute;
  height: 100%;
  top: 0;
} */
.sub_cate>li>ul>li{
  display: block;
  width: 140px;
  word-break: keep-all;
  margin: 8px 0;
}



/*footer*/

#footer {
  /* margin-top: 120px; */
  background: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  box-sizing: border-box;
  padding-bottom: 30px;
  overflow: hidden;
}

.footer_wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 14px;
}
.footer_logo {
  width: 50%;
  float: left;
}
.footer_logo h2 {
  font-size: 36px;
}
.information {
  width: 50%;
  float: left;
}
.information span {
  font-size: 13px;
}