.menu>.category li:nth-child(3) a{
  /* font-weight: 500 !important; */
  color: #769BC0 !important;
}


/*main*/
#container {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-top: 70px;
}
.page_title_area {
  width: 100%;
  height: 300px;
  background: url(../img/news.jpg) no-repeat center/cover;
  margin: 0 auto;
  position: relative;
}
.page_title_area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.page_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page_title h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
}

.page_cont_area {
  width: 100%;
  margin: 0 auto;
  display: block;
}

#article {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 120px 0;
  overflow: hidden;
}
.news_contents {
  display: block;
}
.news_list li{
  border: 1px solid #ccc;
  display: block;
  float: left;
  width: 48%;
  margin: 0 1% 2% 1%;
}
/* .news_list li:nth-child(odd) {
  margin-right: 2%;
} */
.news_list li a {
  display: block;
  padding: 20px;
}
.news_list li a h3 {
  font-size: 20px;
}
.news_list li a p {
  margin-top: 5px;
  color: #666;
}
.news_list li a span {
  display: block;
  margin-top: 40px;
  font-size: 14px;
  color: #666;
  font-weight: 500;
}
.news_list li:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.news_list li:hover a h3 {
  color: #769BC0;
}